useDynLib(BASiCS)
exportPattern("^[^\\Hidden]") 
import( BiocGenerics )
importFrom(Rcpp, evalCpp)
importFrom(coda, HPDinterval)
importFrom(methods, Summary)

exportClasses( "BASiCS_Data" )

exportMethods(counts, 
              displayTechIndicator, 
              displaySpikeInput)