useDynLib(BASiCS)
exportPattern("^[^\\Hidden]") 
importFrom(Rcpp, evalCpp)
importFrom(coda, HPDinterval)
importFrom(methods, Summary)
importMethodsFrom(BiocGenerics, counts)

exportClasses("BASiCS_Data", "BASiCS_Chain" , "BASiCS_Summary")

exportMethods(counts, 
              displayTechIndicator, 
              displaySpikeInput,
              displayBatchInfo,
              Summary,
              plot,
              displayChainBASiCS,
              displaySummaryBASiCS)

export(BASiCS_Filter,
       newBASiCS_Data,
       newBASiCS_Chain,
       BASiCS_Sim,
       makeExampleBASiCS_Data,
       BASiCS_MCMC,
       BASiCS_VarianceDecomp,
       BASiCS_DetectHVG,
       BASiCS_DetectLVG,
       BASiCS_VarThresholdSearchHVG,
       BASiCS_VarThresholdSearchLVG,
       BASiCS_DenoisedRates)